<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOUSTON</title>
    <link rel="stylesheet" href="/css/error404.css">
</head>
<body>
    <h1 class="title"> </h1>
    <p>Erreur 404, <br>la page que vous demandez <br> n'existe pas</p>
    <img id="left" src="/static/images/Oeil404.png" alt="Oeil">
    <img id="right" src="/static/images/Oeil404.png" alt="Oeil">
    <img id="bouche" src="/static/images/bouche.png" alt="bouche 404">
    <a href="/">Retour</a>
</body>
</html>